// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    overflow: hidden;
}

.login {
    overflow-y: auto;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
}
