* {
  margin: unset;
  padding: unset;
}

.py-4 {
  margin: 0;
  padding: 0 !important;
}

.form-control {
  border: unset;
  border-radius: 10px;
  background: #e2e2e2;
}

.btn {
  border: unset;
  border-radius: 10px;
  vertical-align: unset;
}

.title-contenido h2 {
  margin-bottom: -5px;
  border-left: 0.9rem solid #f5d42e;
  padding-left: 0.5rem;
  border-radius: 10px 0 0 0;
}

.title-contenido h1 {
  padding-left: 0.5rem;
  margin-bottom: 1.3rem;
  font-weight: 1000;
  font-size: 2.7rem;
  border-left: 0.9rem solid #f5d42e;
  border-radius: 0 0 0 10px;
}

.title-contenido h3 {
  padding-left: 1.4rem;
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
  margin-top: -1.2rem;
}

.alert {
  border-radius: 10px;
}

.alert-success {
  border: unset !important;
}

.unauthorized {
  text-align: center;
  font-size: 24px;
}

.unauthorized img {
  width: 500px;
}

.unauthorized h1 {
  font-size: 2rem;
  font-weight: 1000;
  color: #58585d;
}

.pagination {
  justify-content: center;
}

.btn-sm {
  padding: 0.15rem 0.3rem;
}

.back {
  margin-bottom: 20px;
}

.back .btn-link {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}

.back .btn-link:hover {
  text-decoration: none;
}

